<main class="legal">
  <section class="legal__wrap">
    <h1 class="legal__title">Información legal</h1>

    <!-- 1 -->
    <section class="legal-block">
      <h2 class="legal-block__heading">Protección de datos personales</h2>

      <div class="legal-card">
        <p class="legal-card__text">
          There are many variations of passages of Lorem Ipsum available, but the majority have
          suffered alteration in some form, by injected humour, or randomised words which don’t look
          even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
          sure there isn’t anything embarrassing hidden in the middle of text...
        </p>

        <a
          class="legal-card__more"
          href="assets/legal/proteccion-datos.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          Conocer más
        </a>
      </div>
    </section>

    <!-- 2 -->
    <section class="legal-block">
      <h2 class="legal-block__heading">Condiciones</h2>

      <div class="legal-card">
        <p class="legal-card__text">
          There are many variations of passages of Lorem Ipsum available, but the majority have
          suffered alteration in some form, by injected humour, or randomised words...
        </p>
      </div>
    </section>

    <!-- 3 -->
    <section class="legal-block">
      <h2 class="legal-block__heading">Responsabilidad</h2>

      <div class="legal-card">
        <p class="legal-card__text">
          There are many variations of passages of Lorem Ipsum available, but the majority have
          suffered alteration in some form, by injected humour, or randomised words...
        </p>

        <a
          class="legal-card__more"
          href="assets/legal/proteccion-datos.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          Conocer más
        </a>
      </div>
    </section>

    <!-- 4 -->
    <section class="legal-block">
      <h2 class="legal-block__heading">Derechos de uso</h2>

      <div class="legal-card">
        <p class="legal-card__text">
          There are many variations of passages of Lorem Ipsum available, but the majority have
          suffered alteration in some form, by injected humour, or randomised words...
        </p>
      </div>
    </section>

    <!-- 5 -->
    <section class="legal-block">
      <h2 class="legal-block__heading">Aceptación de uso</h2>

      <div class="legal-card">
        <p class="legal-card__text">
          There are many variations of passages of Lorem Ipsum available, but the majority have
          suffered alteration in some form, by injected humour, or randomised words...
        </p>
      </div>
    </section>
  </section>
</main>
