<p-menubar>
  <ng-template pTemplate="start">
    <img src="logyletras.png" alt="Logo" class="logo" routerLink="/home" />
  </ng-template>

  <ng-template pTemplate="end">
    <div class="actions desktop-only">
      @for (item of items; track item.label) {
      <a class="menu-link" [routerLink]="item.routerLink" routerLinkActive="active">
        {{ item.label }}
      </a>
      }

      <a
        class="menu-link external"
        href="https://www.google.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        Abre tu cuenta
      </a>

      <button pButton label="Banca Virtual" routerLink="/bank"></button>
    </div>

    <button
      class="mobile-only hamburger"
      pButton
      type="button"
      icon="pi pi-bars"
      (click)="toggleMobileMenu()"
      aria-label="Abrir menú"
    ></button>
  </ng-template>
</p-menubar>

<!-- OVERLAY -->
<div class="mobile-overlay" [class.open]="mobileOpen" (click)="closeMobileMenu()"></div>

<!-- PANEL MOBILE FULL WIDTH -->
<div #mobileMenu class="mobile-panel" [class.open]="mobileOpen">
  <a class="mobile-link" routerLink="/home" (click)="closeMobileMenu()">Inicio</a>
  <a class="mobile-link" routerLink="/servicios" (click)="closeMobileMenu()">Servicios</a>
  <a class="mobile-link" routerLink="/nosotros" (click)="closeMobileMenu()">Nosotros</a>
  <a class="mobile-link" routerLink="/ayuda" (click)="closeMobileMenu()">Ayuda</a>

  <a
    class="mobile-link"
    href="https://www.google.com"
    target="_blank"
    rel="noopener noreferrer"
    (click)="closeMobileMenu()"
  >
    Abre tu cuenta
  </a>

  <a class="mobile-link" routerLink="/bank" (click)="closeMobileMenu()">Banca Virtual</a>
</div>
