<footer class="footer">
  <!-- FILA SUPERIOR -->
  <div class="footer-main">
    <!-- COLUMNA 1 -->
    <div class="footer-col">
      <img src="logyletrasblancas.png" alt="PAYSAT" class="footer-logo" />

      <a href="#">Ayuda</a>
      <a href="#">Abre tu cuenta ahora</a>
      <a href="#">Inicia sesión en tu Banca Virtual</a>
      <a href="#">Opción 4</a>
      <a href="#">Opción 5</a>
    </div>

    <!-- COLUMNA 2 -->
    <div class="footer-col">
      <h4>Categoría</h4>
      <a href="#">Opción 1</a>
      <a href="#">Opción 2 más larga</a>
      <a href="#">Opción 3</a>
      <a href="#">Opción 4</a>
      <a href="#">Opción 5</a>
      <a href="#">Opción 6</a>
    </div>

    <!-- COLUMNA 3 -->
    <div class="app-text">
      <h4>PAYSAT App</h4>
      <p>Descarga nuestra aplicación</p>

      <div class="store-buttons">
        <img src="AS-download.png" alt="App Store" />
        <img src="GP-download.png" alt="Google Play" />
      </div>

      <img src="iphone-mockup.png" alt="App preview" class="phone-img" />
    </div>
    <div class="footer-copy">© 2026 PAYSAT. Desarrollado por Joseph Quito.</div>
  </div>
  <!-- COPYRIGHT solo bajo la izquierda -->
</footer>
