<footer class="footer">
  <!-- FILA SUPERIOR -->
  <div class="footer-main">
    <!-- COLUMNA 1 -->
    <div class="footer-col">
      <img src="logyletrasblancas.png" alt="PAYSAT" class="footer-logo" />

      <a href="/home">Inicio</a>
      <a routerLink="/Abre-tu-cuenta">Abre tu cuenta ahora</a>
      <a href="#">Inicia sesión en tu Banca Virtual</a>
      <a href="/servicios">Servicios</a>
      <a href="/ayuda">Ayuda</a>
    </div>

    <!-- COLUMNA 2 -->
    <div class="footer-col">
      <h4>Mas sobre nosotros</h4>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="/nosotros">Nosotros</a>
      <a routerLink="/nosotros" fragment="contacto">Contáctanos</a>
      <a href="#">Información Legal</a>
    </div>

    <!-- COLUMNA 3 -->
    <div class="app-text">
      <h4>PAYSAT App</h4>
      <p>Descarga nuestra aplicación</p>

      <div class="store-buttons">
        <img src="AS-download.png" alt="App Store" />
        <img src="GP-download.png" alt="Google Play" />
      </div>

      <img src="iphone-mockup.png" alt="App preview" class="phone-img" />
    </div>
    <div class="footer-copy">© 2026 PAYSAT. Desarrollado por Joseph Quito.</div>
  </div>
  <!-- COPYRIGHT solo bajo la izquierda -->
</footer>
